<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Welcome! : GitBoost</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="stylesheet" type="text/css" href="/css/fontawesome.css">
        <link rel="shortcut icon" type="image/png" href="/img/favicon.png" />
        <!--[if lt IE 9]>
        <script src="/js/html5.js"></script>
        <![endif]-->
    </head>

    <body>