{{> html_header }}

{{> navigation }}
<div class="container">

{{> header }}
{{> breadcrumb }}

<style type="text/css">
        @font-face {
            font-family: "Atlassian Icons";
            src: url(http://aui-cdn.atlassian.com/aui-adg/5.9.6/css/fonts/atlassian-icons.eot);
            src: url(http://aui-cdn.atlassian.com/aui-adg/5.9.6/css/fonts/atlassian-icons.eot?#iefix) format("embedded-opentype"), 
            url(http://aui-cdn.atlassian.com/aui-adg/5.9.6/css/fonts/atlassian-icons.woff) format("woff"), 
            url(http://aui-cdn.atlassian.com/aui-adg/5.9.6/css/fonts/atlassian-icons.ttf) format("truetype"), 
            url(http://aui-cdn.atlassian.com/aui-adg/5.9.6/css/fonts/atlassian-icons.svg#atlassian-icons) format("svg");
            font-weight: normal;
            font-style: normal;
        }
        #bit-booster-tbl, #bit-booster-tbl * { line-height: 1.0; font-family: monospace; border-spacing: 0; margin:0; border: 0; padding: 0; font-size: 16px;}
        #bit-booster-tbl span.icon { font-family: "Atlassian Icons"; font-size: 16px; padding-left: 2px; }
        #bit-booster-tbl td.d { font-style: italic; color: darkgray; padding-left: 0.7em; white-space: nowrap; }
        #bit-booster-tbl td.commit { padding: 4px 1px; }
</style>

<div width="60%" class="commits-content">
    <div id="download"></div>
    <table id="bit-booster-tbl" style="width: 1%;">
        <tbody>
            <tr>
                <td rowspan="99999" style="vertical-align: top;">
                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="20" text-rendering="optimizeLegibility" style="border: 0px; margin: 0px; padding: 0;" id="bit-booster"></svg>
                </td>
                <td style="width: 99%; vertical-align: top;">

                </td>
            </tr>
        </tbody>
    </table>
</div>

<div id="output"></div>

<div id="gitGraphText"></div>

<script>
$( document ).ready(function() {

    $.get( "/network?action=view&repo={{ repo }}{{#if branch}}&branch={{branch}}{{/if}}",function(data){
        let graphLines = JSON.parse(data).graphLines;
        let lines = "";
        graphLines.map(function(line)
        {
            lines += line + "<br>";
        });
        $("#gitGraphText").html(lines);

        dg(JSON.parse(data).graphLogs);
    });

});
</script>

</div>
{{> html_footer }}